.vs/
.cache/
/bin/
/bin-int/
**.vcxproj*
*.sln
Makefile
/Engine/vendor/Glad/bin-int/
Engine/vendor/Glad/bin/
Engine/imgui.ini
Minecraft/imgui.ini
Minecraft/assets/realminecraft/
/compile_commands
/compile_commands.json
**.ini
