[submodule "Engine/vendor/GLFW"]
	path = Engine/vendor/GLFW
	url = git@github.com:TheCherno/glfw.git
[submodule "Engine/vendor/imgui"]
	path = Engine/vendor/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "Engine/vendor/glm"]
	path = Engine/vendor/glm
	url = git@github.com:g-truc/glm.git
[submodule "vendor/premake-export-compile-commands"]
	path = vendor/premake-export-compile-commands
	url = https://github.com/tarruda/premake-export-compile-commands.git
